* {
    font-family: monospace;
    font-weight: 100;
    text-decoration: none;
    transition: all .5s;
}

.nav__responsive-ul {
    display: none;
}

.body {
    display: grid;
    grid-template-rows: repeat(9, 7rem);
    grid-template-columns: repeat(4, 1fr);
    background: rgb(0,86,255);
    background: linear-gradient(90deg, rgba(0,86,255,1) 0%, rgba(41,52,116,1) 85%);
    margin: 0;
}

.nav {
    background-color: darkslateblue;
    border-radius: 20px;
}

.nav__li {
    display: inline-block;
    padding: 12px;
    color: #fff;
}

.nav__li:hover>a {

    color: #bbb;
}

.nav__li:hover {

    color: #bbb;
}

.nav__li a {
    color: #fff;
    text-decoration: none;
}

.nav__li i {
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}

.header {
    z-index: 2000;
    grid-column: 1 / 4;
    grid-row: 1/2;
    position: sticky;
    top: 0;
}

.header:hover{
    transform: scale(1.01);
}


.card__form{
    width: 450px;
    margin: auto;
    background-color: rgba(0,0,0,.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    z-index: 1000;
    grid-row: 3/5;
    grid-column: 1/4;
}

.card__form:hover{
    padding: 20px 30px;
    box-sizing: border-box;
}

h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

h2:hover{
    font-size: 35px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 70%;
}

#button{
    background-color: rgb(29, 47, 175);
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}

#button:hover{
    cursor: pointer;
    background-color: rgb(34, 55, 214);
    font-size: 18px;
}

.card__footer {
    z-index: -1;
   

    justify-content: space-around;
    text-align: center;
    align-items: center;
    border: 10px solid black;
    background-color: #e66969;
    border-radius: 10px solid black;
}


@media only screen and (max-width: 480px) {
    .body{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    
    .header{
        grid-row: 1;

        z-index: 1;
    }
    .header a{
        z-index: 3000;

    }
    .card__form{
        grid-row: 2;
        width: 100%;
    }

    
}
