* {
    font-family: monospace;
    font-weight: 100;
    text-decoration: none;
    transition: all .5s;
}
.nav__responsive-ul{
    display: none;
}

.body{
    background: rgb(16,7,32);
    background: linear-gradient(90deg, rgba(16,7,32,1) 5%, rgba(35,16,68,1) 48%, rgba(16,7,32,1) 100%);
    /* display: grid;
    grid-template-rows: repeat(6, 7rem);
    grid-template-columns: repeat(4,1fr);
    position: relative;
    background: rgb(0,86,255);
    background: linear-gradient(90deg, rgba(0,86,255,1) 0%, rgba(41,52,116,1) 85%); */
}

.nav{
    background-color: darkslateblue;
    border-radius: 20px;
}

.nav__li{
    display: inline-block;
    padding: 12px;
    color: #fff;
}

.nav__li:hover > a{
    
    color: #bbb;
}

.nav__li:hover{
    
    color: #bbb;
}

.nav__li a{
    color: #fff;
    text-decoration: none;
}

.nav__li i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}

.header{
    grid-column: 1 / 4;
    grid-row: 1/2;
    position: sticky;
    top: 0;
}

.header:hover{
    transform: scale(1.01);
}
.grid-item{
    border: 5px solid black;
}

.h1__sponsors{
    grid-row: 2/4;
    grid-column: 2;
    text-align: center;
    padding: 10px 0;
    border: 10px solid red;
    
    border-radius: 20px;
    background-color: rgba(193, 42, 42, 0.627);
    font-size: 25px;
    
}


.img1{
    grid-row: 3;
    grid-column: 1;
    width: 20vw;
    height: 20vh;
    margin: 10px;
}

.img1:hover{
    transform: scale(1.05);
    background: rgb(41,52,116);
    background: linear-gradient(90deg, rgba(41,52,116,1) 17%, rgba(0,86,255,1) 85%);
}

.div1__p{
    grid-column: 2;
    grid-row: 5;
   
    border: 5px dashed black;
    overflow: auto;
}

.div1__p:hover{
    background-color: #e66969;
}

.h1__sponsors:hover{
    background-color: #c53232;
    font-size: 20px;
    color: #fff;
}

.img2{
    grid-column: 3/4;
    grid-row: 3;
    width: 20vw;
    height: 20vh;
    margin-left: 70px;
}

.img2:hover{
    transform: scale(1.05);
    background: rgb(41,52,116);
    background: linear-gradient(90deg, rgba(41,52,116,1) 17%, rgba(0,86,255,1) 85%);
}

.card__footer{
   
    grid-row: 15/16;
    grid-column: 1/12;
    background-color: #FA2FB5;
    border: 5px solid #FFC23C;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 10px solid black;
}

.card__footer a{
    text-decoration: none;
}