.card {
    height: 45rem;
    perspective:inherit;
    position: relative;
    max-width: 400px;
    margin: 1rem;
    box-shadow: none;
    background-color: rgb(16,7,32);
   
    &:hover .card-side.front{
        transform: rotateY(180deg);
    }

    &:hover .card-side.back{
        transform: rotateY(0deg);
    }
  }
  
  .card-side {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.4s ease;
    backface-visibility: hidden;
    position: absolute;
  }
  
  .card-side.back {
    transform: rotateY(-180deg);
    backdrop-filter: blur(11px) saturate(181%);
    -webkit-backdrop-filter: blur(11px) saturate(181%);
    background-color: rgba(17, 25, 40, 1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-top: 190px;
  }
  
  .card-side.front {
    backdrop-filter: blur(11px) saturate(181%);
    -webkit-backdrop-filter: blur(11px) saturate(181%);
    background-color: rgba(17, 25, 40, 0.81);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  

  .card__h1{
    grid-column: 1/2;
    grid-row: 2;
    color: rgb(107, 8, 8);
    border-bottom: 5px solid rgb(239, 105, 105);
    display: inline;
    margin-left: 10px;
    font-size: 25px;
}

.card__ul{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    color: rgb(98, 1, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    &:p{
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        color: rgb(98, 1, 1);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-left:10px solid #A81A1A;
        padding: 10px;
    }

}

  .p_description{
    border: 5px solid #FFC23C;
    color: #fff;
    background-color: #31087B;


    &:hover{
      background-color: #1f113b;
    }
  }


.p{
    border-radius: 30px;
    padding: 6px;
    background-color: #31087B;
    overflow: auto;

    &:hover{
        background-color: #1f113b;
    }

}

.section3__img{
  border: 5px solid #FFC23C;


  &:hover{
    transform: scale(1.01);
    border: 5px dashed #FFC23C;
  }
}


