.card__title {
    @include letterSpacing(10px);
    grid-column: 4/8;
    grid-row: 2;
    border: 10px solid #FFC23C;
    padding: 1%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    color: #210e57;
    box-shadow: 0 25px 50px -35px rgb(255, 255, 255);
    background-image: url(https://cdn.pixabay.com/photo/2016/02/23/07/37/wall-1217083__340.jpg);
    filter: contrast(135%);
}

.card__title:hover{
    transform: scale(1.02);
}

.grid-content{
    grid-column: 1/10;
    grid-row: 4/6;
    display: flex;
    justify-content: space-around;
}


.card__section1--div-img{
    border-radius: 30px;
    border: 10px solid #210e57;
}

.card__section1--div-img:hover{
    box-shadow: 0 25px 50px -35px rgb(103, 103, 103);
    transform: scale(1.02);
}

.card__p1 {
    @include letterSpacing(2px);
    padding: 10px;
    border: 10px solid #210e57;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 113, 224);
    overflow: auto;
    margin: 10px;
    grid-row: 3;
    grid-column: 1/5;
    box-shadow: 0px 0px 25px #222;
    filter: contrast(135%);
}

.card__p1:hover{
    background-color: rgb(12, 12, 54);
}

.card__p2 {
    @include letterSpacing(2px);
    padding: 10px;
    border: 10px solid #210e57;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 113, 224);
    overflow: auto;
    margin: 10px;
    grid-row: 3;
    grid-column: 6/10;
    box-shadow: 0px 0px 25px #222;
    filter: contrast(135%);

    &:hover{
        background-color: rgb(12, 12, 54);
    }
}



.grid-content2{
    @include templateFlex(space-around, true);
    grid-column:1/10 ;
    grid-row: 8 / 15;
}

.title2{
    @include letterSpacing(10px);
    grid-row: 7 / 8;
    grid-column: 4 / 8;
    border: 10px solid #FFC23C;
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    box-shadow: 0 25px 50px -35px rgb(255, 255, 255);
    padding: 5px;
    background-image: url(https://cdn.pixabay.com/photo/2016/02/23/07/37/wall-1217083__340.jpg);
    text-align: center;
    color: #210e57;


    &:hover{
        transform: scale(1.02);
    }
}


.card_section2--img{
    grid-column: 12/15;
    grid-row: 10;
    height: 175px;
    width: 20px;
    padding: 10px;
    box-shadow: 0 25px 50px -35px rgb(255, 255, 255);
    border-radius: 30px;
    margin: 10px;
}

.card_section2--img1, .card_section2--img2{
    border: 10px solid #210e57;
    border-radius: 30px;
}


.card_section2--img1:hover{
    box-shadow: 0 25px 50px -35px rgb(103, 103, 103);
    transform: scale(1.02);
}

.card_section2--img2:hover{
    box-shadow: 0 25px 50px -35px rgb(103, 103, 103);
    transform: scale(1.02);
}
.description-2{
    grid-column: 2/2;
    grid-row: 10/2;
    padding: 5px;
    border: 10px solid #210e57;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 113, 224);
    overflow: auto;
    margin-left: 30px;

    &:hover{
        background-color: rgb(12, 12, 54);
    }
}



.img__div4{
    border: 5px solid #FFC23C;
    background-color: #FFC23C;
    padding: 5px;

    &:hover{
        transform: scale(1.02);
    }
}



.capa{
    @include letterSpacing(2px);
    @include templateFlex(center, true);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    color: #fff;
    transform: scale(0);
    transition: .3s ease;
    font-size: 30px;
    padding:30px;
    box-sizing: border-box;


    &:hover{
        transform: scale(1);
    }
}



.p__div4{
    margin: 20px;
    border: 5px solid #FFC23C;
    padding: 5px;
    list-style-type: none;
    background-color: rgb(113, 113, 224);
    color: #fff;
    font-size: 20px;

    &:hover{
        background-color: rgb(12, 12, 54);
    }
    
}


.img__div4{
    border: 5px solid #FFC23C;
    background-color: #FFC23C;
    padding: 5px;


    &:hover{
        transform: scale(1.02);
    }
}

.box{
    position: relative;
    overflow: hidden;

    &:hover .capa{
        transform: scale(1);
    }
}

.capa{
    @include letterSpacing(2px);
    @include templateFlex(center, true);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    color: #fff;
    transform: scale(0);
    transition: .3s ease;
    font-size: 30px;
    padding:30px;
    box-sizing: border-box;
}


.p__div4{
    margin: 20px;
    border: 5px solid #FFC23C;
    padding: 5px;
    list-style-type: none;
    background-color: rgb(113, 113, 224);
    color: #fff;
    font-size: 20px;


    &:hover{
        background-color: rgb(12, 12, 54);
    }
}


.ul_row3 li{
    margin: 20px;
    border: 5px solid #FFC23C;
    padding: 5px;
    list-style-type: none;
    background-color: rgb(113, 113, 224);
    color: #fff;


    &:hover{
        background-color: rgb(12, 12, 54);
    }
}


.p__3{
    @include letterSpacing(2px);
    background-image: url(https://cdn.pixabay.com/photo/2016/02/23/07/37/wall-1217083__340.jpg);
    border: 5px solid #FFC23C;
    padding: 5px;
    color: #210e57;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}