* {
    font-family: monospace;
    font-weight: 100;
    text-decoration: none;
    transition: all .5s;
}

.body{
    background: rgb(16,7,32);
    background: linear-gradient(90deg, rgba(16,7,32,1) 5%, rgba(35,16,68,1) 48%, rgba(16,7,32,1) 100%);
}